venv/
foodie_env/
FoodieQA/cachehr/
FoodieQA/data_folder/
FoodieQA/model-eval/scripts/__pycache__

**/__pycache__/
FoodieQA/rag/wikipedia/recipe_db/
**/recipe_db/

FoodieQA/rag/xiachufang/last_recipe_page.html
FoodieQA/rag/xiachufang/last_search_page.html


.env